
.about_title{width:100%; height:90px; background:none; margin-top: 5%;}

@media screen and (max-width:720px) {
   .about_title{height: 50px; }}
/* -------------------------------------- */
.about_title .title{width:25% ; margin-left: 5%;}
@media screen and (max-width:720px) {
  .about_title .title{width:100% ; margin-left: 0%; }}
.about_title .title_txt{color:#000;}   
  
.about_container{width: 100%; height: auto; background:none; display:flex;
justify-content: center;}

@media screen and (max-width:720px) {
   .about_container{flex-direction: column; height: auto; align-items: center;}}

.about_cont1{width: 40%; height: 100%; background:none;
display:flex; flex-direction: column; justify-content: center;
 align-items:center ; margin-bottom: 7%;}
 @media screen and (max-width:720px) {
 .about_cont1{ height: auto; width: 95%; margin-bottom: 1%;} }

.about_image_div{width: 50%; height: 350px; background: #ddd;
display:flex; position: relative; overflow:hidden ;}
@media screen and (max-width:720px) {
 .about_image_div{height: 300px; width: 70%;}}
 /* ---------------------------------- */
.about_slides{ width: 100%; height: 100%; position: absolute;
background:none;transition: 0.5s ease-in-out;}


.about_desc_div{width: 80%; height: auto; background: none; margin-top: 5%;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-size: 13px; color: rgb(62, 63, 63);}


.about_cont2{width: 50%; height: 100%; background:none; display: flex; flex-direction: column;
    ;  justify-content: center; align-items: center;}
@media screen and (max-width:720px) {
 .about_cont2{width: 100%; height: auto;} }
 /* ------------------------------- */
.chose_title{ width: 80%; height: 10%; background:none;}
@media screen and (max-width:720px) {
 .chose_title{ width: 100%; margin-top: 5%;} }
@media screen and (max-width:720px) {
 .chose_title .title_txt{ color:#000} }
@media screen and (max-width:720px) {
 .chose_title .title{ width: 100%;} } 

.chose_desc{ width: 80%; height: 80%; background:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;color: rgb(62, 63, 63); ;}
.chose_list{list-style-image: url('../src/bullet.png');}
@media screen and (max-width:720px) {
.chose_list{list-style-image: url('../src/bullet2.png');}}

.chose_list li{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px; line-height: 26px;}

/* ------------------------------------------- */
.stats_div{ width: 100%; height: 400px; background: rgb(1,1,19);display: flex;
    flex-direction: column;}
@media screen and (max-width:720px) {
    .stats_div{  height: auto;}}

.stats_title{width: 100%; height: 10%; display: flex;
    justify-content: center; align-items: center; margin-top: 3%;}
    
.stats_title .title{ color: #fff; width: 25%;} 
@media screen and (max-width:720px) {
   .stats_title .title{ width: 100%;} }

.stats_cont{width: 100%; height: 60%; display:flex; justify-content: center;
    align-items: center; background:none;}
@media screen and (max-width:720px) {
  .stats_cont{flex-direction: column; height: auto; }}

.stats_items{ width: 18%; height: 80%; background:none; display:flex;
align-items: center; justify-content: center; flex-direction: column;}

@media screen and (max-width:720px) {
 .stats_items{ width: 50%; height: 100%; margin-bottom: 5%;}}

.stats_avatar{width: 50px;height: 50px;background:#fff; 
    border-radius: 50%; margin-bottom: 4%;}

/* @media screen and (max-width:720px) {
  .stats_avatar{height: 35%;}} */

.stats_count{width: 100%; height: 20%; text-align: center; font-size: 29px;
    color:rgb(250,91,6);font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
@media screen and (max-width:720px) {
.stats_count{ height: 30%; margin-bottom: 5%;}}

.stats_title{width:100%;height: 20%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px; color:#fff; ;}

/* ////////exper//////////////////////////////////////////// */
.about_expert_container{width: 90%; height: 80%; background:none; display:flex;
    justify-content: center;position:relative; overflow:hidden; margin-bottom: 5%;}
    @media screen and (max-width:720px) {
    .about_expert_container{display:none} }

.about_expert_container2{width: 70%; height: 70%; background:none; display:flex;
    justify-content: center; overflow: hidden; position: relative;}
@media screen and (max-width:4820px) {
 .about_expert_container2{display:none}}
@media screen and (max-width:720px) {
 .about_expert_container2{display:flex}}

 /* .a_expert_items2{width: 100%; height: 100%; background:none; margin-right: 0%;
    display:flex; flex-direction: column; justify-content: center;
     align-items: center; position:absolute} */
    /* ------------------------------------- */
    
        